.site-logo img {
   max-height:12rem      /* sicherstellen, dass es sichtbar ist */
}


.archive__item {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
}

.archive__item-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.archive__item-excerpt {
  color: #555;
  font-size: 1rem;
}

.page__hero-caption {
  font-size: 1.2rem;
  opacity: 0.9;
}
